 body{
        font-family: sans-serif;
    }

ul{
    margin: 0;
    padding: 0
}
ul li{
   -webkit-user-select: none;
   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;

   cursor: pointer;
   position: relative;
   padding: 12px 8px 12px 40px;
   background: #eee;
   font-size: 19px;
   transition: 0.2s;
}
ul li:nth-child(all){
    background: #f9f9f9;
}
ul li:hover{
    background: #ddd;
}
ul li.checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
ul li.checked::before{
    content: "\2713";
    
}
.container::after{
    content: '';
    display: table;
    clear: both;
}
.addbutton{
    transition: 0.2s;
    padding: 10px;
    margin-left: 3px;
    width: max-content;
    background: #ddd;
    float: left;
    border-radius: 14px;
    cursor: pointer;
}
input{
    float: left;
    margin-bottom:5px;
    font-size: 16px;
    width: 65%;
    padding:10px;
    border: none;
    
}
input:focus{
    outline: none;
    border-bottom: black 1px solid;

}
    
input:focus::placeholder{
    color: transparent;
}
.checkbox{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 50px;
    bottom: 15px;
    width: max-content;
    color: black;
}
